// Базовые цвета
$color-primary: #FFFFFF;
$color-secondary: #EEEEEE;
$color-accent: #FFD166;

// Цвета текста
$color-text-primary: #000000;
$color-text-caption: #787878;

// Шрифты
$font-family: 'Nunito', sans-serif;

// Размеры шрифтов
$font-size-h1: 24px;
$line-height-h1: 28px;
$font-weight-h1: 700;

$font-size-body: 14px;
$line-height-body: 16px;
$font-weight-body: 400;

$font-size-caption: 10px;
$line-height-caption: 12px;
$font-weight-caption: 400;
